# Ignore object files
*.o

# Ignore compiled binaries
master
server
client
common

# Ignore other temporary files
*.out
*.log
*.tmp

# Ignore directories often created during build
/build/
/bin/
/obj/

# Ignore core dumps
core
*.core
